<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>BLL/Tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">app</directory>
        </whitelist>
    </filter>
    <php>
        <var name="DB_DSN" value="mysql:dbname=monitoringstatistic;host=127.0.0.1" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="1234" />
        <var name="DB_DBNAME" value="monitoringstatistic" />
    </php>
</phpunit>